.form-container{
    width: 80%;
    margin: auto;
    
    >form{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        >.select{
            width: 140px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        > button{
             margin-left: 5px;
             height: 40px;
        }

    }
}