.timer{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include respond-to(small-screens){
        width: 100px;
    }

    >.time{
        width: 50px;

        @include respond-to(small-screens){
            font-size: 12px;
        }
    }
}