.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todo-list{
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;

    >.list{
        @extend .flexColumn;
    }

    >.list-empty{
        @extend .flexColumn;
        margin-top: 20px;
    }

    >.current{
        display: flex;
        flex-direction: column;

        >.title{
            @extend .flexRow;
            width: 100%;            
            color: #fdd835;
        }        
    }

    .mdl-card {
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }

    .drag{
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
    }

    .mdl-list__item{
        height: 50px;
        min-height: 35px;
    }
}

.mdl-list__item .mdl-list__item-secondary-content{
    margin-left: 0!important;
}