.todo-screen-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >.fas{
        color: white;
        margin-top: 50px;
    }

    .code{
        height: 50px;
        margin-top: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: baseline;

        .fab{
            color: white;
        }
    }

    >.todo-card{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 40px 0;

        >.title{
            color: #40c4ff;
            text-decoration: underline;

            .fas{
                margin-right: 10px;
            }            
        }

        >.form,.list,.dividir{
            width: 50%;
            @include respond-to(small-screens){
                width: 90%;
            }

            @include respond-to(medium-screens){
                width: 70%;
            }
        }

        >.dividir{
           height: 1px;
           background-color: gray;
           margin-bottom: 10px;
        }
    }   

    >.button-random{
        margin-top: 5px;
    }
}