.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todo-list{
    padding: 0;
        max-height: 150px;
        overflow-y: scroll;
    >.list{
        @extend .flexColumn;
    }

    >.list-empty{
        @extend .flexColumn;
        margin-top: 20px;
    }

    >.current{
        display: flex;
        flex-direction: column;

        >.title{
            @extend .flexRow;
            width: 100%;            
            color: #fdd835;
        }        
    }

    .mdl-card {
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }

    .drag{
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
    }

    .mdl-list__item{
        height: 35px;
        min-height: 35px;
    }
}